.container{
    margin: 1vw;
    font-size: 18px;
}

.messageBox{
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: 10px 0;
    line-height: 1.5;
}

.messageBox div:nth-child(even) {
    background: aliceblue;
}

.messageBox div{
    padding: 20px 30px;
}

.z-textbox{
    height: 38px;
}

.me{
    color: blue;
    font-weight: bold;
}

.ai{
    color: green;
    font-weight: bold;
}