.container{
    margin: 1vw;
    margin-bottom: 3vw;
}

.messageBox{
    border: 3px solid gray;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

h1{
    margin-bottom: 0;
}

.me{
    color: blue;
    weight: bold;
}

.ai{
    color: green;
    font-weight: bold;
}